.card{
  margin-top: 30px;
  padding:5px 0px;
}
.card .row{
  padding-left: 2%;
  padding-right: 2%;
}

#textarea1{
  padding: 2%;
  min-height: 500px;
  border: 1px solid #ccc;
}

#textarea1:focus{
  border: 1.4px solid #26a69a;
}

.float{
  float: right;
}
